<footer class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <a class="brand" href="#">4South Ember-Youtube</a>
    <div class="navbar-text">
      Contact me @stv_kn or on github stevekane/4South
    </div>
  </div>
</footer>
