<div class="hero-unit">
  <h1>Ember-Youtube</h1>
  <h3>JS-driven youtube players wrapped in Emberisms</h3>
  <p> The javascript code is available as links in the header of this page.
      The syntax-highlighted source files are automatically produced by a 
      custom grunt.js task that is soon-to-be-released.
  <p>
    <a class="btn btn-warning btn-large">
      ember-youtube on github
    </a>
  </p>
  <footer>
    Steve Kane 
    <a href="http://twitter.com/stv_kn">@stv_kn</a>
    4South Studios
  </footer>
</div>
