<pre><code>window.App = Ember.Application.create();

require(<span class="string">'router/Router.js'</span>);
require(<span class="string">'models/YoutubeModel.js'</span>);
require(<span class="string">'controllers/YoutubeController.js'</span>);
require(<span class="string">'views/YoutubeView.js'</span>);
</code></pre>