<pre><code>App.Router.map( <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>

  <span class="keyword">this</span>.resource(<span class="string">'youtube'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
    <span class="keyword">this</span>.route(<span class="string">'ytcontroller'</span>, { path: <span class="string">"/ytcontroller"</span> });
    <span class="keyword">this</span>.route(<span class="string">'ytview'</span>, { path: <span class="string">"/ytview"</span> });
    <span class="keyword">this</span>.route(<span class="string">'ytmodel'</span>, { path: <span class="string">"/ytmodel"</span> });
    <span class="keyword">this</span>.route(<span class="string">'ytrouter'</span>, { path: <span class="string">"/ytrouter"</span> });
    <span class="keyword">this</span>.route(<span class="string">'ytapp'</span>, { path: <span class="string">"/ytapp"</span> });
  });

});

App.IndexRoute = Ember.Route.extend({
  redirect: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
    <span class="keyword">this</span>.replaceWith(<span class="string">'youtube'</span>);
  },
});

App.YoutubeIndexRoute = Ember.Route.extend({

  renderTemplate: <span class="function"><span class="keyword">function</span> <span class="params">(controller, model)</span> {</span>
    <span class="keyword">this</span>.render(<span class="string">"youtube-index"</span>, {
      into: <span class="string">'application'</span>,
      outlet: <span class="string">'code'</span>,
    });
  },

});

App.YoutubeRoute = Ember.Route.extend({

  model: <span class="function"><span class="keyword">function</span> <span class="params">(params)</span> {</span>
    <span class="keyword">return</span> App.YoutubeModel.create({
      videoUrl: <span class="string">"http://www.youtube.com/watch?v=XjTSpgAm8QM"</span>,
    });
  },  
  
  renderTemplate: <span class="function"><span class="keyword">function</span> <span class="params">(controller, model)</span> {</span>
    <span class="keyword">this</span>.render(<span class="string">"youtube"</span>, {
      into: <span class="string">'application'</span>,
      outlet: <span class="string">'player'</span>,
      controller: controller
    });

    <span class="keyword">this</span>.render(<span class="string">"youtube-controls"</span>, {
      into: <span class="string">'application'</span>,
      outlet: <span class="string">'footer'</span>,
      controller: <span class="string">'youtube'</span>
    });
  },

});

App.YoutubeYtcontrollerRoute = Ember.Route.extend({

  renderTemplate: <span class="function"><span class="keyword">function</span> <span class="params">(controller, model)</span> {</span>
    <span class="keyword">this</span>.render(<span class="string">"source/YoutubeController"</span>, {
      into: <span class="string">'application'</span>,
      outlet: <span class="string">'code'</span>,
    }); 
  },

});

App.YoutubeYtviewRoute = Ember.Route.extend({

  renderTemplate: <span class="function"><span class="keyword">function</span> <span class="params">(controller, model)</span> {</span>
    <span class="keyword">this</span>.render(<span class="string">"source/YoutubeView"</span>, {
      into: <span class="string">'application'</span>,
      outlet: <span class="string">'code'</span>,
    }); 
  },

});

App.YoutubeYtmodelRoute = Ember.Route.extend({

  renderTemplate: <span class="function"><span class="keyword">function</span> <span class="params">(controller, model)</span> {</span>
    <span class="keyword">this</span>.render(<span class="string">"source/YoutubeModel"</span>, {
      into: <span class="string">'application'</span>,
      outlet: <span class="string">'code'</span>,
    }); 
  },

});

App.YoutubeYtrouterRoute = Ember.Route.extend({

  renderTemplate: <span class="function"><span class="keyword">function</span> <span class="params">(controller, model)</span> {</span>
    <span class="keyword">this</span>.render(<span class="string">"source/Router"</span>, {
      into: <span class="string">'application'</span>,
      outlet: <span class="string">'code'</span>,
    }); 
  },

});

App.YoutubeYtappRoute = Ember.Route.extend({

  renderTemplate: <span class="function"><span class="keyword">function</span> <span class="params">(controller, model)</span> {</span>
    <span class="keyword">this</span>.render(<span class="string">"source/Application"</span>, {
      into: <span class="string">'application'</span>,
      outlet: <span class="string">'code'</span>,
    }); 
  },

});
</code></pre>