<pre><code><span class="comment">/*
this is a video model.  the youtube controller instance in your app
should have its content set to one of these
youtubeview instances will look for data from this object to create the player
*/</span>
App.YoutubeModel = Ember.Object.extend({

  height: <span class="number">480</span>,
  width: <span class="number">640</span>,
  videoUrl: <span class="string">""</span>,
  autohide: <span class="number">1</span>,
  autoplay: <span class="number">0</span>,
  controls: <span class="number">0</span>,
  disablekb: <span class="number">1</span>,
  enablejsapi: <span class="number">1</span>,
  fs: <span class="number">0</span>,
  iv_load_policy: <span class="number">3</span>,
  modestbranding: <span class="number">1</span>,
  rel: <span class="number">0</span>,
  showinfo: <span class="number">0</span>,

});

</code></pre>